#title{
  background-color: red;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 
.text{
    background-color: ;
}
.list{
    background: linear-gradient(180deg, blue , purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}